.form{
    color:hsl(0, 0%, 100%);
    margin-top: 10%;
    background-color: hsla(0, 0%, 0%,0.5);
    border: 2px solid hsl(41, 100%, 69%);
    margin-top: 2.5%;
    margin-left: 2.5%;
    margin-left: 2.5%;   
}